<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del cooler</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1><i>{{coolers.titulo}}</i></h1>
    </div>
        <p style=" margin: 0 auto; max-width: 1000px;"><i>{{coolers.descripcion}}</i></p>
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Detalle del cooler</h1>
        {% if coolers.imagen %}
                <img src="{{ coolers.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
        <p>Marca: <i>{{coolers.marca}}</i></p>
        <p>Modelo: <i>{{coolers.modelo}}</i></p>
        <p>Tipo: <i>{{coolers.tipo}}</i></p>
        <p>Altura: <i>{{coolers.altura}}</i></p>
        <p>Ventilador: <i>{{coolers.ventilador}}</i></p>
        <p>Precio: <i>{{coolers.precio}}</i></p>
        <p>Fecha de publicación del producto: <i>{{coolers.fecha}}</i></p>
        <p>
            <button style="background-color: greenyellow"><a href="{% url 'CompraRealizada' %}">Comprar</a></button>
        </p>
        <p>
            <button style="background-color: lightcyan"><a href="{% url 'ListaCoolers' %}">Regresar</a></button>
        </p>
    </div>
    {% endblock %}
</body>
</html>