<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
        <h1>Listado de coolers</h1>
        <a href="{% url 'AgregarCooler' %}">Agregar un cooler</a>
        {% for cooler in coolers %}
            <li>Marca: {{cooler.marca}} - Modelo: {{cooler.modelo}}
                <p>
                    <a href="{% url 'DetalleCooler' cooler.pk %}">Detalle</a>
                    <a href="{% url 'EditarCooler' cooler.pk %}">Editar</a>
                    <a href="{% url 'BorrarCooler' cooler.pk %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    {% endblock %}
</body>
</html>