<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del monitor</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Detalle del monitor</h1>
        {% if monitores.imagen %}
                <img src="{{ monitores.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
        <p>Marca: <i>{{monitores.marca}}</i></p>
        <p>Modelo: <i>{{monitores.modelo}}</i></p>
        <p>Resolución: <i>{{monitores.resolucion}}</i></p>
        <p>Pulgadas: <i>{{monitores.pulgadas}}</i></p>
        <p>Hercios: <i>{{monitores.hercios}}</i></p>
        <p>Precio: <i>{{monitores.precio}}</i></p>
        <p>
            <a href="{% url 'CompraRealizada' %}">Comprar</a>
        </p>
        <p>
            <a href="{% url 'ListaMonitores' %}">Regresar</a>
        </p>
    </div>
    {% endblock %}
</body>
</html>