<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
        <h1>Detalle del monitor</h1>
        <p>Marca: <i>{{monitores.marca}}</i></p>
        <p>Modelo: <i>{{monitores.modelo}}</i></p>
        <p>Resolución: <i>{{monitores.resolucion}}</i></p>
        <p>Pulgadas: <i>{{monitores.pulgadas}}</i></p>
        <p>Hercios: <i>{{monitores.hercios}}</i></p>
        <p>Precio: <i>{{monitores.precio}}</i></p>
        <p>
            <a href="{% url 'ListaMonitores' %}">Regresar</a>
        </p>
    {% endblock %}
</body>
</html>