<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del procesador</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Detalle del procesador</h1>
        {% if procesadores.imagen %}
                <img src="{{ procesadores.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
        <p>Marca: <i>{{procesadores.marca}}</i></p>
        <p>Modelo: <i>{{procesadores.modelo}}</i></p>
        <p>Núcleos: <i>{{procesadores.nucleos}}</i></p>
        <p>Hilos: <i>{{procesadores.hilos}}</i></p>
        <p>Frecuencia: <i>{{procesadores.frecuencia}}</i></p>
        <p>Precio: <i>{{procesadores.precio}}</i></p>
        <p>
            <a href="{% url 'CompraRealizada' %}">Comprar</a>
        </p>
        <p>
            <a href="{% url 'ListaProcesadores' %}">Regresar</a>
        </p>
    </div>
    {% endblock %}
</body>
</html>