<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista procesadores</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Listado de procesadores</h1>
        <br>
        {% if request.user.is_staff %}  <!-- Para que clientes no accedan al link -->
            <button><a href="{% url 'AgregarProcesador' %}">Agregar un procesador</a></button>
        {% endif %}
        <br><br><br>
        {% for procesador in procesadores %}
            {% if procesador.imagen %}
                <img src="{{ procesador.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
            <li>Marca: {{procesador.marca}} - Modelo: {{procesador.modelo}}
                <p>
                    <button style="background-color: lightcyan"><a href="{% url 'DetalleProcesador' procesador.pk %}">Detalle</a></button>
                    {% if request.user.is_staff %} <!-- Para que clientes no accedan al link -->
                        <button style="background-color: lightblue"><a href="{% url 'EditarProcesador' procesador.pk %}">Editar</a></button>
                        <button style="background-color: lightcoral"><a href="{% url 'BorrarProcesador' procesador.pk %}">Borrar</a></button>
                    {% endif %}
                    <button style="background-color: greenyellow"><a href="{% url 'CompraRealizada' %}">Comprar</a></button>
                </p>
            </li>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>