<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
        <h1>Listado de procesadores</h1>
        <a href="{% url 'AgregarProcesador' %}">Agregar un procesador</a>
        {% for procesador in procesadores %}
            <li>Marca: {{procesador.marca}} - Modelo: {{procesador.modelo}}
                <p>
                    <a href="{% url 'DetalleProcesador' procesador.pk %}">Detalle</a>
                    <a href="{% url 'EditarProcesador' procesador.pk %}">Editar</a>
                    <a href="{% url 'BorrarProcesador' procesador.pk %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    {% endblock %}
</body>
</html>