{% extends "app/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulario - Agregar procesador</h1>
    {% if miFormulario.errors %}

    <p style="color: red;"> Algo salió mal, inténtalo nuevamente.</p>

    {% endif %}


    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ miFormulario.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>

  

{% endblock %}