<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de memorias RAM</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Listado de memorias RAM</h1>
        <br>
        {% if request.user.is_staff %} <!-- Para que clientes no accedan al link -->
            <button><a href="{% url 'AgregarRam' %}">Agregar una memoria RAM</a></button>
        {% endif %}
        <br><br><br>
        {% for ram in ram %}
            {% if ram.imagen %}
                <img src="{{ ram.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
            <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
            <li>Marca: {{ram.marca}} - Modelo: {{ram.modelo}}
                <p>
                    <button style="background-color: lightcyan"><a href="{% url 'DetalleRam' ram.pk %}">Detalle</a></button>
                    {% if request.user.is_staff %} <!-- Para que clientes no accedan al link -->
                        <button style="background-color: lightblue"><a href="{% url 'EditarRam' ram.pk %}">Editar</a></button>
                        <button style="background-color: lightcoral"><a href="{% url 'BorrarRam' ram.pk %}">Borrar</a></button>
                    {% endif %}
                    <button style="background-color: greenyellow"><a href="{% url 'CompraRealizada' %}">Comprar</a></button>
                </p>
            </li>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>