<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la memoria RAM</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1><i>{{ram.titulo}}</i></h1>
    </div>
        <p style=" margin: 0 auto; max-width: 1000px;"><i>{{ram.descripcion}}</i></p>
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Detalle de la memoria RAM</h1>
        {% if ram.imagen %}
                <img src="{{ ram.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
        <p>Marca: <i>{{ram.marca}}</i></p>
        <p>Modelo: <i>{{ram.modelo}}</i></p>
        <p>Tipo: <i>{{ram.tipo}}</i></p>
        <p>Capacidad: <i>{{ram.capacidad}}</i></p>
        <p>Velocidad: <i>{{ram.velocidad}}</i></p>
        <p>Precio: <i>{{ram.precio}}</i></p>
        <p>Fecha de publicación del producto: <i>{{ram.fecha}}</i></p>
        <p>
            <button style="background-color: greenyellow"><a href="{% url 'CompraRealizada' %}">Comprar</a></button>
        </p>
        <p>
            <button style="background-color: lightcyan"><a href="{% url 'ListaRam' %}">Regresar</a></button>
        </p>
    </div>
    {% endblock %}
</body>
</html>