<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}

    <h1>Borrar tarjeta de vídeo</h1>
    <form action="" method="POST">
        {% csrf_token %}
        ¿Seguro que quieres borrar la tarjeta de vídeo {{tarjetas.marca}} {{tarjetas.modelo}}?
        <input type="submit" value="Eliminar">
    </form>

    {% endblock %}
</body>
</html>