<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la tarjeta gráfica</title>
</head>
<body>
    {% extends "app/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="text-center"> <!-- Esto es para centrar el texto -->
        <h1>Detalle de la tarjeta de vídeo</h1>
        {% if tarjetas.imagen %}
                <img src="{{ tarjetas.imagen.url }}" alt="" style="height: 200px; width: 200px;">
            {% else %}
                <!-- Mensaje de "no disponible" si no se encuentra un imagen -->
                <img src="" alt="Imagen no disponible" style="height: 50px; width: 50px;">
            {% endif %}
        <p>Marca: <i>{{tarjetas.marca}}</i></p>
        <p>Modelo: <i>{{tarjetas.modelo}}</i></p>
        <p>Serie: <i>{{tarjetas.serie}}</i></p>
        <p>Memoria: <i>{{tarjetas.memoria}}</i></p>
        <p>Largo: <i>{{tarjetas.largo}}</i></p>
        <p>Precio: <i>{{tarjetas.precio}}</i></p>
        <p>
            <a href="{% url 'CompraRealizada' %}">Comprar</a>
        </p>
        <p>
            <a href="{% url 'ListaTarjetas' %}">Regresar</a>
        </p>
    </div>
    {% endblock %}
</body>
</html>